
.App {
  min-height: 100vh;
}
.header{
  position: relative;
}
#Light{
  background-color: hsl(236, 33%, 92%);
}
#Dark{
  background-color: hsl(235, 21%, 11%);
  
}
#Dark1{
  background-color:hsl(237, 14%, 26%);
  color: white;
}
#spanControl1:hover{
  color: white;
  font-weight: 700;
}

#spanControl2:hover{
  color: #000000;
  font-weight: 700;
}

